<template>
  <el-container>
    <div class="main-container">
      <el-row>
        <el-col :xs="24" :sm="12" class="dark-row">
          <div class="text-container">
            <div class="small e1">在</div>
            <div class="large">KeepFocus</div>
            <div class="small">享受专注时光</div>
            <div class="description">这是一款番茄时钟、程序使用频率统计软件。开启专注模式、屏蔽黑名单软件、打开勿扰。在你的 Mac 中拥有沉浸的工作体验</div>
            <el-button class="download-btn" icon="el-icon-download">Download</el-button>
          </div>
        </el-col>
        <el-col :xs="24" :sm="12" class="hidden-xs-only dark-row">
          <div class="img-container">
            <img src="/static/pic1.png">
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col :xs="24" :sm="12">
          <div class="img-container">
            <img src="/static/pic2.png">
          </div>
        </el-col>
        <el-col :xs="24" :sm="12">
          <div class="text-container">
            <div class="large">精选每一天的状态</div>
            <div class="description">KeepFocus 每日挑选不同的壁纸与佳句，我们企图用这样的方式，追求每一次与灵感的邂逅、与灵魂的沟通，让自己去思考、去沉淀工作与生活。<br><br>如果你也想为 KeepFocus 的每日状态添加自己的心语，可以微博 @陳某豪 留下你希望告诉世界的心声和壁纸。</div>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col :xs="24" :sm="12" class="hidden-sm-and-up dark-row">
          <div class="img-container">
            <img src="/static/pic3.png">
          </div>
        </el-col>
        <el-col :xs="24" :sm="12" class="dark-row">
          <div class="text-container">
            <div class="large">精确你的专注度</div>
            <div class="description">开启专注之后，KeepFocus 会开启一个设定好的番茄时钟，同时屏蔽黑名单内的应用程序。在专注期间，这些程序将不能被唤醒（一旦试图启动会自动放置到后台）。<br><br>同时，KeepFocus 将会为你统计本次工作的专注度，告诉你时间都花到哪儿了。</div>
          </div>
        </el-col>
        <el-col :xs="24" :sm="12" class="hidden-xs-only dark-row">
          <div class="img-container">
            <img src="/static/pic3.png">
          </div>
        </el-col>
      </el-row>
      <el-row class="laboratory">
        <el-col :span="24">
          <div class="center-div large">实验室功能</div>
        </el-col>
        <el-col :xs="24" :sm="12"  class="detail">
          <div class="title">播放白噪音</div>
          <div class="description">
          开启 KeepFocus 的同时，为你来带来沉浸式的白噪音体验。纯碎的静音会给人带来不适，白噪音可以让人更加专注
          </div>
        </el-col>
        <el-col :xs="24" :sm="12"  class="detail">
          <div class="title">自动打开歌单</div>
          <div class="description">
          你喜欢在工作时听摇滚、电音还是后摇？或许你有自己的「工作时必听」歌单，那么让 KeepFocus 自动为你呈现吧
          </div>
        </el-col>
        <el-col :xs="24" :sm="12"  class="detail">
          <div class="title">应用使用统计</div>
          <div class="description">
          让 KeepFocus 它在平时也可以获取应用使用习惯，生成好看的报表。但请放心，我们不会上传任何私人数据
          </div>
        </el-col>
        <el-col :xs="24" :sm="12"  class="detail">
          <div class="title">网页黑名单</div>
          <div class="description">
          Keep Focus 将支持屏蔽一部分网页，让你可以提醒自己远离工作之外的干扰源
          </div>
        </el-col>
      </el-row>
    </div>
    <el-footer>footer</el-footer>
  </el-container>
</template>

<script>
export default {
  name: 'keepfoucs',
  data () {
    return {
      msg: 'Welcome'
    }
  }
}
</script>

<style lang="less" scoped>
@import 'element-ui/lib/theme-chalk/display.css';
@import 'keepfocus.less';
</style>
