.main-container {
  background-color: #E9EEF3;
  color: #333;
}
.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}
.el-row {
  margin-bottom: 20px;
  height: 650px;
}
@media screen and (max-width: 768px) {
  .el-row{height: 250px;}
}
.el-col {
  display:flex;
  height:100%;
  /* background-color: aliceblue; */
}
.dark-row{
  background-color: #53565b;
  color: lightgray;
}
.img-container{
  margin:auto;
  img{
    height: auto;
    width: 80%;
  }
}
.text-container{
  margin:auto;
  min-height: 100px;
  text-align: left;
  margin-left: 60px;
  width: 65%;
  .description{
    font-size: x-small;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .small{
    font-size: large;
    margin-top: 5px;
  }
  .small.e1{
    display: inline;
  }
}
.large{
  font-size: xx-large;
  font-weight: bold;
  display: inline;
}
.download-btn{
  background: none;
  color: lightgray;
  margin-top: 10px;
}
.laboratory{
  height: 170px;
  .center-div{
    width:100%;
    margin:auto;
  }
  .detail{
    height: 180px;
    display: table-row;
    text-align: left;
    .title{
      font-size: larger;
      font-weight: bold;
      margin-left: 70px;
    }
    .description{
      font-size: small;
      margin-top: 10px;
      margin-left: 70px;
      width: 60%;
    }
  }
}